<h2>ngNonBindable</h2>
<table class="ui celled padded table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Effect</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <h4>
        &lt;div class=&quot;ngNonBindableDemo&quot;&gt;<br/>
        &lt;span class=&quot;bordered&quot;&gt;<span ngNonBindable>{{ data }}</span>&lt;/span&gt;<br/>
        &lt;span class=&quot;pre&quot; ngNonBindable&gt;<br/>&amp;larr; This is what <span ngNonBindable>{{ data }}</span> rendered<br/>&lt;/span&gt;<br/>
        &lt;/div&gt;
      </h4>
    </td>
    <td>
      <div class="ngNonBindableDemo">
        <span class="bordered">{{ data }}</span>
        <span class="pre" ngNonBindable>&larr; This is what {{ data }} rendered</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
