<div *ngIf="people.length > 0">
  <h2>List of People</h2>
  <table class="ui celled padded table">
    <thead>
    <tr>
      <th>Id</th>
      <th style="width: 60%">Name</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td class="text-center">
        <div class="ui center" role="group" aria-label="actions column">
          <button class="ui button button-width" (click)="edit(person)" aria-label="Edit record">
            Edit
          </button>
          <button class="ui button negative button-width" (click)="confirmRemove(person)" aria-label="Remove record">
            Remove
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
