
<div class="ui grid" style="margin: 10px;" *ngIf="hasItems()">
  <button class="ui button" [disabled]="isFirst()" (click)="first()">|&lt;</button>
  <button class="ui button" [disabled]="isFirst()" (click)="before()">&lt;</button>
  <button *ngFor="let page of pages" class="ui button" [class.primary]="pagerData.pageable.pageNumber === (page - 1)" (click)="gotoPage(page)">{{ page }}</button>
  <button class="ui button" [disabled]="isLast()" (click)="next()">&gt;</button>
  <button class="ui button" [disabled]="isLast()" (click)="last()">&gt;|</button>
</div>
<div class="ui grid" style="margin-left: 10px" *ngIf="hasItems()">
  <div class="ui">
    Page {{ pagerData.pageable.pageNumber + 1 }} of {{ pagerData.totalPages }} |
    Records: {{ pagerData.totalElements }}
  </div>
</div>



