<div class="ui raised segment">
  <h2 class="ui header">{{ editing ? 'Edit' : 'Add' }} Person</h2>
  <form [formGroup]="formGroup" (ngSubmit)="save(formGroup.value)" class="ui form">
    <app-input-text id="name"
                    [control]="formGroup.controls['name']"
                    label="Name"
                    placeholder="Klark Kent"
                    invalidMessage="Name invalid">
    </app-input-text>
    <app-input-mask id="age"
                    [control]="formGroup.controls['age']"
                    label="Age"
                    placeholder="25"
                    invalidMessage="Age invalid"
                    mask="999">
    </app-input-mask>
    <br/>
    <button class="ui button primary" [disabled]="formGroup.invalid">
      {{ editing ? 'Save' : 'Create' }}
    </button> |
    <button class="ui button" (click)="clear()">
      Clear
    </button>
  </form>
</div>
