<h1>Search</h1>
<p>
  <input type="text" #newquery [value]="query" (keydown.enter)="submit(newquery.value)">
  <button id="searchButton" (click)="submit(newquery.value)">Search</button>
</p>

<div *ngIf="results">
  <div id="empty_result" *ngIf="!results.length" class="test">
    No tracks were found with the term '{{ query }}'
  </div>
  <div *ngIf="results.length">
    <h1>Results</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let t of results">
        <div class="thumbnail">
          <div class="content">
            <img src="{{ t.album.images[0].url }}" class="img-responsive">
            <div class="caption">
              <h3>
                <a id="artist_{{t.artists[0].id}}" [routerLink]="['/artists', t.artists[0].id]">{{ t.artists[0].name }}</a>
              </h3>
              <br/>
              <p>
                <a id="track_{{t.id}}" [routerLink]="['/tracks', t.id]">{{ t.name }}</a>
              </p>
            </div>
            <div class="attibution">
              <h4>
                <a id="album_{{t.album.id}}"[routerLink]="['/albums', t.album.id]">{{ t.album.id }}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
